*
{
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    font-family: 'Times New Roman', Times, serif;
}
input
{
    flex-basis: 100%;
    padding:5px;
}

h2
{
    margin-top: 0;
}

h2, p
{
    flex-basis: 100%;
}
title, style, script
{
    display:none;
}

a
{
    color:rgb(0,0,0);
    text-decoration: none;
}
.Post:nth-of-type(2n)
{
    background-color: rgb(200,255,255);
}
.Post:nth-of-type(2n+1)
{
    background-color: rgb(255,255,255);
}
.Post
{
    border-radius: 30px;
    margin:10px;
    flex-basis: 30%;
    padding: 10px;
}

.Post:nth-of-type(2n)>p
{
    background-color: rgb(255,255,255);
    padding:5px;
    border-radius: 5px;
}

.Post:nth-of-type(2n+1)>p
{
    background-color: rgb(200,255,255);
    padding:5px;
    border-radius: 5px;
}

.NavBar *
{
    background-color: rgb(225,225,225);
    padding: 10px;
    border-radius: 10px;
}

#app
{
    background-color: rgb(200,200,200);
    border-radius: 30px;
    flex-basis:100%;
    padding:30px;
}

body
{
    flex-basis: 100%;

}

form
{
    background-color: rgb(150,150,150);
    border-radius: 20px;
    margin:10px;
    padding:20px;
    flex-basis: 40%;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

form div
{
    justify-content: flex-start;
}

input[type="checkbox"]
{
    flex-basis: 0%;
}

button
{
    border-radius: 5px;
    padding: 5px;
}

.Message
{
    background-color: rgb(225,225,225);
    padding:10px;
    border-radius: 10px;
}

.PostForm
{
    flex-basis: 100%;
}

h1
{
    flex-basis: 100%;
}

.MessageForm
{
    flex-basis: 100%;
}
